html {
    font-size: 100px;
  height: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family:Arial,"Microsoft YaHei","STHeiti","WenQuanYi Micro Hei","Hiragino Sans GB ",SimSun,sans-serif;
}
body {
    width: 1920px;
	height: 1080px;
    padding: 0;
    margin: 0;
    color: #343434;
    font-size: 24px;
    -webkit-text-size-adjust: 100%!important;
    transform: scale(1,1);
    transform-origin: left top 0px;
    overflow: hidden;
    background: #00112c url(../../images/dataSource/bg.jpg) no-repeat;
    background-size: 100% 100%;

}
a, a:hover {
    text-decoration: none;
    outline: 0;
}
a,img{
	border:none;
	display: block;
}
li{
	list-style:none;
}
.pull-left{ 
	float:left;
}
.pull-right{ 
	float:right;
}
h1,h2,h3,h4,h5{
	font-weight: normal;
}
.overflowH{
	overflow: hidden;
}
/*自定义样式*/
.system_title span{
	float: left;
	height:54px;
	width: 100px;
	line-height: 54px;
	color: #b8e7ff;
	text-align: center;
	cursor: pointer;
}
.system_title span:last-child{
	width: 367px;
}
.right_system_title{
	float: right;
	width: 450px;
	height: 54px;
	font-size: 18px;
	color: #01AAE9;
	padding-left: 30px;
	line-height: 54px;
}
.weather{
	float: left;
	height: 32px;
	width: 32px;
	background: url(../img/weather_sunshine.png) no-repeat top center;
	position: relative;
    top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.right_system_title p{
	float: right;
    width: 50px;
    font-size: 12px;
    line-height: 2;
    position: relative;
    top: -49px;
    left: 125px;
}
.right_sign{
	float: right;
    width: 150px;
    height: 54px;
}
.content{
	width: 100%;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 90px;
    padding-left: 33px;
    padding-right: 33px;
    overflow: hidden;
}
.left_content{
	float: left;
	width: 605px;
	height: 100%;
}
.right_content{
	float: left;
	width: 603px;
	height: 100%;
}
.middle_content{
    float: left;
    height: 100%;
    margin-left: 20px;
    width: 602px;
    margin-right: 20px;
}
.content_title{
	color: #fff;
    font-size: 22px;
    margin-top: 13px;
    height: 47px;
    line-height: 47px;
    padding-left: 30px;
}
.module_title{
    font-size: 18px;
    color: #2effcb;
    border-left: 4px solid #2EFFCB;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
.titile_list{
	margin-top: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
.titile_list li{
	float: left;
	color: #b7d9ff;
	font-size: 18px;
	padding: 5px 4px;
	text-align: center;
	cursor: pointer;
}
.people_list li{
	width: 20%;
}
.legel_list li{
	width: 50%;
}
.titile_list li.active{
	background: #22376C;
	border-bottom: 1px solid #22376C;
}
#people_img{
    width: 100%;
    height: 235px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
}
.legal_img{
    width: 100%;
    height: 170px;
    margin-top: 37px;
    padding-left: 10px;
    padding-right: 10px;
}
.bottom_img{
	width: 100%;
	height: 346px;
}
.left_bottom{
	width: 50%;
	height: 100%;
	float: left;
}
.rignt_bottom{
	width: 50%;
	height: 100%;
	float: left;
}
#legal_img{
    height: 84%;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.btns_group{
	margin-top: 10px;
}
.btns_group button{
	color: #fff;
    background: #005CC0;
    padding: 8px 30px;
    border-radius: 10px;
}
.btns_group button.active{
	background: #419CFF;
}
#legal_img_img{
	width: 100%;
	height: 236px;
}
.person_trust{
	width: 100%;
	height: 337px;
}
.ele{
    width: 100%;
    height: 245px;
    padding-left: 10px;
    padding-right: 10px;
}
.ele_num{
	float: left;
	width: 30%;
    height: 245px;
    /* line-height: 30px; */
    padding-top: 100px;
    padding-left: 30px;
    /* text-align: center; */
    color: #fefeff;
    font-size: 18px;
}
.ele_num span{
	font-size: 30px;
	color: #0effbf;
}
#ele_img{
	float: left;
	width: 70%;
	height: 245px;
}
.img_tips{
	color: #a4beff;
	font-size: 14px;
	position: relative;
	top: -58px;
}
.zgzh{
	left: 230px;
}
.xkz{
	left: 280px;
}
.qy{
	left: 335px;
}
#web_office{
    width: 100%;
    height: 210px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#industry{
    width: 100%;
    height: 245px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}
#agriculture{
    width: 100%;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}
.food_drugs{
    width: 100%;
    height: 275px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    position: relative;
}
.food_drugs div{
	width: 50%;
	height: 100%;
	float: left;
}
.food_drugs_tips{
	position: absolute;
	color: #fefeff;
	font-size: 18px;
}
.food_drugs_tips span{
	color: #0EFFBF;
	font-size: 30px;
}
.company_tips{
    left: 50px;
    top: 70px;
}
.product_tips{
    left: 350px;
    top: 70px;
}
