<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>典型示范应用</title>
	<link href="/asserts/css/bigDataApp/style.css" th:href="@{/asserts/css/bigDataApp/style.css}" rel="stylesheet" />
</head>
<body class="application">
	<!-- 头部 -->
	<div class="header flex">
		<div class="title flex">
			<div class="home"><a href="bigDataApp" style="color:#b8e7ff">返回</a></div>
			<div class="text flex">
				<a href="emerge">应急指挥</a>
				<a href="#">决策分析预警</a>
			</div>
		</div>
		<div class="img">
			<img src="/asserts/images/bigDataApp/apply/title.png" th:src="@{/asserts/images/bigDataApp/apply/title.png}" alt="">
		</div>
		<div class="time_close flex">
			<div class="time">
				<span>2018年8月1日</span>
				<span>星期三</span>
				<span>15:51</span>
			</div>
			<div class="close">	
				<a href="#"></a>
			</div>
		</div>
	</div>

	<!-- 内容部分 -->
	<div class="contain flex">
		<div class="left">
			<a href="#">惠民<br>资金</a>
		</div>
		<div class="center">
			<a href="#">综合<br>治税</a>
		</div>
		<div class="right">
			<a href="#">统计<br>大数据</a>
		</div>
	</div>

	<script type="text/javascript" src="/asserts/js/jquery.min.js" th:src="@{/asserts/js/jquery.min.js}"></script>
	<script src="/asserts/js/bigDataApp/screen.js" th:src="@{/asserts/js/bigDataApp/screen.js}"></script>
</body>
</html>








