<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>数据资源库</title>
		<link rel="stylesheet" type="text/css" href="/asserts/css/dataSource2/style.css" th:href="@{/asserts/css/dataSource2/style.css}"/>
		<script src="/asserts/js/jquery.min.js" th:src="@{/asserts/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<div class="title">
			<div class="left_title">
				<span><a href="bigDataApp" th:href="@{/bigDataApp}" style="color:#b8e7ff">返回</a></span>
				<span><a href="http://59.206.202.178:81/console/laiwu"  th:href="@{http://59.206.202.178:81/console/laiwu}" style="color:#b8e7ff" target="_blank">共享交换平台</a></span>
			</div>
			<div class="right_title">
				<p class="time">
					2018 年 8 月 1 日 星期三 15:51
				</p>
			</div>
		</div>
		<div class="special_db">
			<p class="db_title">
				<img src="/asserts/img/dataSource2/ztsjk.png" th:src="@{/asserts/img/dataSource2/ztsjk.png}"/>
			</p>
			<div class="db_list">
				<p>电子证照库</p>
				<p>网上办件</p>
				<p>信用体系</p>
			</div>
		</div>
		<div class="basic_db">
			<p class="db_title" >
				<img src="/asserts/img/dataSource2/jcsjk.png" th:src="@{/asserts/img/dataSource2/jcsjk.png}"/>
			</p>
			<div class="basic_show">
				
				<div class="db_num">
					人口库内人数:<br>
					<span>1375801</span>人
				</div>
				<div class="db_names rkk">
					<img src="/asserts/img/dataSource2/pointer.png" th:src="@{/asserts/img/dataSource2/pointer.png}"/>
					<div class="db_main">
						
					</div>
					<img src="/asserts/img/dataSource2/rkk.png" th:src="@{/asserts/img/dataSource2/rkk.png}"/>
				</div>
				<div class="db_names frk">
					<img src="/asserts/img/dataSource2/pointer.png" th:src="@{/asserts/img/dataSource2/pointer.png}"/>
					<div class="db_main">
						
					</div>
					<img src="/asserts/img/dataSource2/frk.png" th:src="@{/asserts/img/dataSource2/frk.png}"/>
				</div>
				<div class="db_names hgk">
					<img src="/asserts/img/dataSource2/pointer.png" th:src="@{/asserts/img/dataSource2/pointer.png}"/>
					<div class="db_main">
						
					</div>
					<img src="/asserts/img/dataSource2/hgjjk.png" th:src="@{/asserts/img/dataSource2/hgjjk.png}"/>
				</div>
				<div class="db_names kjk">
					<img src="/asserts/img/dataSource2/pointer.png" th:src="@{/asserts/img/dataSource2/pointer.png}"/>
					<div class="db_main">
						
					</div>
					<img src="/asserts/img/dataSource2/kjdlk.png" th:src="@{/asserts/img/dataSource2/kjdlk.png}"/>
				</div>
				<span class="db_name rk_db" >
					人口库				
				</span>
				<span class="db_name fr_db" >
					法人库				
				</span>
				<span class="db_name hg_db" >
					宏观经济库				
				</span>
				<span class="db_name kj_db" >
					空间地理库				
				</span>
				
			<p class="db_title zt_title" >
				<img src="/asserts/img/dataSource2/zhuti.png" th:src="@{/asserts/img/dataSource2/zhuti.png}"/>
			</p>
			<div class="zt_content ny_content">
				
			</div>
			<div class="zt_content gy_content">
				
			</div>
			<div class="zt_content syj_content">
				
			</div>
			<span class="zt_name ny_name" >农业</span>
			<span class="zt_name gy_name" >工业</span>
			<span class="zt_name syj_name" >食药监</span>
			</div>
		</div>
	</body>
	<script src="/asserts/js/dataSource2/script.js" th:src="@{/asserts/js/dataSource2/script.js}" type="text/javascript" charset="utf-8"></script>
</html>




