<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>莱芜可视化平台-视联网</title>
	<link href="/asserts/css/bigDataApp/style.css" th:href="@{/asserts/css/bigDataApp/style.css}" rel="stylesheet" />
</head>
<body class="internet_connection">
	<!-- 头部 -->
	<div class="header flex">
		<div class="title flex">
			<div class="home"><a href="visualManage" th:href="@{/visualManage}" style="color:#b8e7ff">返回</a></div>
			<div class="text flex">
				<a href="http://10.1.90.101" target="_blank">政务云</a>
				<a href="http://10.1.1.45:8888/leadsec-soc/" target="_blank">网络运行</a>
				<a href="system">系统运行</a>
			</div>
		</div>
		<div class="img">
			<img src="/asserts/images/bigDataApp/visit/but_03.png" th:src="@{/asserts/images/bigDataApp/visit/but_03.png}" alt="">
		</div>
		<div class="time_close flex">
			<div class="time">
				<span>2018年8月1日</span>
				<span>星期三</span>
				<span>15:51</span>
			</div>
			<div class="close">
				<a href="#"></a>
			</div>
		</div>
	</div>

	<!-- 内容部分 -->
	<div class="contain flex">
		<div class="left">
			<a href="http://10.1.13.223/" class="yun_center" target="_blank">电子政务云中心视频监控</a>
			<a href="http://10.1.26.200/" class="fuwu" target="_blank">政务服务大厅视频监控</a>
			<a href="#" class="jiaotong">交通安全视频监控</a>
			<a href="#" class="huanjing">环境安全视频监控</a>
		</div>
		<div class="right">
			<a href="#" class="shipin">食品安全视频监控</a>
			<a href="#" class="qiye">重点企业视频监控</a>
			<a href="#" class="gongan">智慧公安视频监控</a>
			<a href="#" class="dizhi">地质灾害隐患视频监控</a>
		</div>
	</div>

	<script type="text/javascript" src="/asserts/js/jquery.min.js" th:src="@{/asserts/js/jquery.min.js}"></script>
	<script src="/asserts/js/bigDataApp/screen.js" th:src="@{/asserts/js/bigDataApp/screen.js}"></script>
</body>
</html>









